# Creating .env is optional
# Create .env to overwrite one or more default env variables

# LamdaTest Credentials
# LT_USERNAME = 
# LT_ACCESS_KEY = 

# Development Credentials for INVRS
# INVRS_DEV_EMAIL = 
# INVRS_DEV_PASSWORD = 

# Second Development Credentials for INVRS
# INVRS_DEV_EMAIL_2 = 
# INVRS_DEV_PASSWORD_2 = 

# Production Credentials for INVRS
# INVRS_PROD_EMAIL = 
# INVRS_PROD_PASSWORD = 

# Second Production Credentials for INVRS
# INVRS_PROD_EMAIL_2 = 
# INVRS_PROD_PASSWORD_2 =

# Testing Credentials for INVRS
# INVRS_EMAIL = 
# INVRS_PASSWORD = 

# Second Testing Credentials for INVRS
# INVRS_EMAIL_2 = 
# INVRS_PASSWORD_2 = 